<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="ModalPopup/modalPopup.css">
        <title>Document</title>
    </head>
    <body>
        <div class="root">
            <div class="popup-backFriday">
                <div class="popup-title text-align-center">
                    BLACK FRIDAY
                </div>
                <div class="popup-description">
                    <p class="pragraph">up to <span class="sales">70%</span></p>
                    <p class="subText">* with order of 25$ and more</p>
                    <div class="text-align-center height-button">
                        <button class="btn-click">shop now</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>